<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
  </head>
  <body>
   <section class="banner">
     <ul>
       <li><%= image_tag("pr3_innov_cloud_a.png", alt: "innovation_cloud") %></li>
       <li><%= image_tag("pr3_innov_cloud_b.png", alt: "innovation_cloud") %></li>
       <li><%= image_tag("pr4_threadly.png", alt: "threadly")%></li>
     </ul>
   </section>
   <script>
     $(function() {
        $('.banner').unslider();
     });
   </script>

<div class='grid'>
  <ul class="row">
    <div class="col-lg-12">
        <li class="col-lg-4">
          <%= image_tag("pr1_we_are_br_small.png", alt: "broadway") %>
          <h3>We are Broadway</h3>
          <p>This is a project which I don't even remember. But don't be rush I will...</p>
        </li>
      <li class="col-lg-4">
        <%= image_tag("pr2_bolt_net_small.png", alt: "bolt") %>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
      <li class="col-lg-4">
        <%= image_tag("pr3_innov_cloud_a_small.png", alt: "innovation_cloud")%>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
    </div>
  </ul>
  <ul class="row">
    <div class="col-lg-12">
      <li class="col-lg-4">
        <%= image_tag("pr3_innov_cloud_b_small.png", alt: "innovation_cloud") %>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
      <li class="col-lg-4">
        <%= image_tag("pr4_threadly_small.png", alt: "threadly") %>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
      <li class="col-lg-4">
        <%= image_tag("pr5_bookmarks_a_small.png", alt: "bookmarks")%>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
    </div>
  </ul>
  <ul class="row">
    <div class="col-lg-12">
      <li class="col-lg-4">
        <%= image_tag("pr5_bookmarks_b_small.png", alt: "bookmarks") %>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
      <li class="col-lg-4">
        <%= image_tag("pr6_bass-music_a_small.png", alt: "bass-music") %>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
      <li class="col-lg-4">
        <%= image_tag("pr6_bass-music_b_small.png", alt: "bass-music")%>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
    </div>
  </ul>
</div>

</body>
</html>
