<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
    <link rel="stylesheet" href="unslider.css" />
    <link rel="stylesheet" href="unslider-dots.css" />
  </head>

  <body>
   <section class="banner">
   <ul>
      <li><%= image_tag("pr3_innov_cloud_a.png", alt: "innovation_cloud") %></li>
      <li><%= image_tag("pr3_innov_cloud_b.png", alt: "innovation_cloud") %></li>
      <li><%= image_tag("pr4_threadly.png", alt: "threadly")%></li>
   </ul>
</section>

<div class='grid'>
  <ul>
    <li><%= image_tag("pr1_we_are_br_small.png", alt: "broadway") %></li>
    <li><%= image_tag("pr2_bolt_net_small.png", alt: "bolt") %></li>
    <li><%= image_tag("pr3_innov_cloud_a_small.png", alt: "innovation_cloud")%></li>
  </ul>
  <ul>
    <li><%= image_tag("pr3_innov_cloud_b_small.png", alt: "innovation_cloud") %></li>
    <li><%= image_tag("pr4_threadly_small.png", alt: "threadly") %></li>
    <li><%= image_tag("pr5_bookmarks_a_small.png", alt: "bookmarks")%></li>
  </ul>
  <ul>
    <li><%= image_tag("pr5_bookmarks_b_small.png", alt: "bookmarks") %></li>
    <li><%= image_tag("pr6_bass-music_a_small.png", alt: "bass-music") %></li>
    <li><%= image_tag("pr6_bass-music_b_small.png", alt: "bass-music")%></li>
  </ul>
</div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="unslider-min.js"></script>

           <script>
             $(function() {
                $('.banner').unslider();
                  autoplay: true
             });
           </script>


    <%= stylesheet_link_tag "application.css", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application.js", "data-turbolinks-track" => "reload" %>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/unslider.css" />
    <link rel="stylesheet" href="css/unslider-dots.css" />
  </head>

  <body>
   <section class="banner">
   <ul>
      <li><img src="http://cdn1.indie88cdn.com/wp-content/uploads/2015/05/958392-wolves-1000x500.jpg" alt="innovation-cloud"></li>
      <li><img src="https://hadean.black/wp-content/uploads/2017/02/wolf-banner.jpg" alt="innovation-cloud"></li>
   </ul>
	</section>
		<div class='grid'>
      <ul>
        <li><img src="http://www.ontariowildliferescue.ca/images/wildlife/cougar.jpg" alt="cougar"></li>
        <li><img src="https://s-media-cache-ak0.pinimg.com/236x/89/87/2d/89872d962a36d525aff55b1f072678fe--big-cat-rescue-snow-leopard.jpg" alt="snow leopard"></li>
        <li><img src="https://s-media-cache-ak0.pinimg.com/736x/ee/be/92/eebe9201ff36be6b1c5ccb641840e228--roe-deer-cool-things.jpg" alt="deer"></li>
      </ul>
      <ul>
        <li><img src="http://catalog.wlimg.com/4/8021/small-images/wildlife-tours-56725.jpg" alt="lion"></li>
        <li><img src="http://www.gnatcatcherphotography.com/img/s4/v69/p1328080654-11.jpg" alt="rakoon"></li>
        <li><img src="http://img.humorsharing.com/media/images/1202/i_492_1funny-wild-animals-051.jpg" alt="leopard"></li>
      </ul>
      <ul>
        <li><img src="https://s-media-cache-ak0.pinimg.com/236x/cd/15/54/cd155453c579a417adb7a5210a35e865--aid-hospitals.jpg" alt="unknown"></li>
        <li><img src="https://avatarchamber.com/t/0/73/avatar-wild-and-animals-j9x.md.jpg" alt="tiger"></li>
        <li><img src="https://avatarchamber.com/t/0/73/avatar-wild-animals-j16.md.jpg" alt="deer"></li>
      </ul>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/unslider-min.js"></script>
    
           <script>
              $(function() {
                $('.banner').unslider({
                   autoplay: true
                });
             });
       </script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
</body>
</html>
>>>>>>> 372e2fbc7ec37bd0b6fc59f362deec45192f89fc
