<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
  </head>
  <body>
   <section class="banner">
     <ul>
       <li><a href="https://github.com/Gilewn/stories"><%= image_tag("stories1.png", alt: "stories") %></a></li>
       <li><a href="https://github.com/Gilewn/stories"><%= image_tag("stories2.png", alt: "stories") %></a></li>
       <li><a href="https://github.com/Gilewn/stories"><%= image_tag("stories3.png", alt: "stories")%></a></li>
       <li><a href="https://github.com/Gilewn/stories"><%= image_tag("stories4.png", alt: "stories")%></a></li>
     </ul>
   </section>
   <script>
     $(function() {
        $('.banner').unslider();
     });
   </script>

<div class='grid'>
  <ul class="row">
    <div class="col-lg-12">
        <li class="col-lg-4"><a href="https://github.com/Gilewn/broadway">
          <%= image_tag("broadway_small.png", alt: "broadway") %>
          <h3>Broadway</h3>
          <p>A very simple start up project which contains only a home page.
          On rails I have created a controller for the page, an action and a root route.
        Also some CSS styles of my choice.</p></a>
        </li>
      <li class="col-lg-4"><a href="https://github.com/Gilewn/bolt-network">
        <%= image_tag("bolt-network_small.png", alt: "bolt-network") %>
        <h3>Bolt Network</h3>
        <p>Also a project with simple tasks. This project has an extra page (About) and two links
           to connect the home page with the about page.</p></a>
      </li>
      <li class="col-lg-4"><a href="https://github.com/Gilewn/innovation-cloud">
        <%= image_tag("innovation-cloud_small.png", alt: "innovation-cloud")%>
        <h3>Innovation Cloud</h3>
        <p>In this project a model is added (Signups),a POST request to save the emails, a resource route for signups
        and a Thank you page after the signup is saved.</p></a>
      </li>
    </div>
  </ul>
  <ul class="row">
    <div class="col-lg-12">
      <li class="col-lg-4"><a href="https://github.com/Gilewn/threadly">
        <%= image_tag("threadly_small.png", alt: "threadly") %>
        <h3>Threadly</h3>
        <p>One page to share comments. Each comment is captured immediately after it is saved
           and you have the ability to write the next one. A model named Posts is created,
            with two instance variables at the Posts controller @new_post and @all_posts.
          The rest is CSS.</p></a>
      </li>
      <li class="col-lg-4"><a href="https://github.com/Gilewn/bookmarks">
        <%= image_tag("bookmarks_small.png", alt: "bookmarks") %>
        <h3>Bookmarks</h3>
        <p>A project to learn associations. I have created two models (books,reviews) and associated them with
        the has_many/belongs_to associations, then I created two views (index,show)
         one with a list of all books and one with each book separately with its reviews. Not much CSS style.</p></a>
      </li>
      <li class="col-lg-4"><a href="https://github.com/Gilewn/bass-music">
        <%= image_tag("bass-music_small.png", alt: "bass-music")%>
        <h3>Bass Music</h3>
        <p>Like Bookmarks, instead of books and reviews, now we have albums and tracks.A little prettier,
           but not CSS style too.</p></a>
      </li>
    </div>
  </ul>
  <ul class="row">
    <div class="col-lg-12">
      <li class="col-lg-4"><a href="https://github.com/Gilewn/newstand">
        <%= image_tag("newstand.png", alt: "newstand") %>
        <h3>Newstand</h3>
        <p>Authentication and Authorization is the main thing of this project. More specific, I have added
          all the necessities for a authentication system like signup page, login page, logout functionality.
           Then for the authorization system first I added the role column, then def role I need in the models file,
           then the def require_role in the application controller and the before_actions where I needed. Lastly some mods
           in the views of some specific pages.</p></a>
      </li>
      <!--<li class="col-lg-4">
        <%= image_tag("pr6_bass-music_a_small.png", alt: "bass-music") %>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>
      <li class="col-lg-4">
        <%= image_tag("pr6_bass-music_b_small.png", alt: "bass-music")%>
        <h3>We are Broadway</h3>
        <p>This is a project which I don't even remember. But don't be rush I will...</p>
      </li>-->
    </div>
  </ul>
</div>

</body>
</html>
